@import url("https://fonts.googleapis.com/css?family=VT323");

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "VT323";
  background-color: #111;
  color: snow;
}

button {
  all: unset;
  font-family: "VT323";
  text-align: center;
}

.monitor {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #989886;
  border-radius: 30px;

  overflow: hidden;
  position: relative;

  width: 90vmin;
  height: 60vmin;
}

.inital-screen {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.title {
  font-size: 10vmin;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.start-game {
  position: absolute;
  top: 50%;

  font-size: 8vmin;
  animation: blink 1.2s infinite;
}

.start-game:hover {
  text-decoration: underline;
}

.hangman {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80vmin;
  height: 50vmin;

  padding: 3vmin;

  background: radial-gradient(
    circle,
    rgba(57, 66, 59, 1) 0%,
    rgba(13, 13, 13, 1) 100%
  );
  border-radius: 40px;
  position: relative;
  overflow: hidden;

  box-shadow: 0px 0px 10px 6px rgb(59, 58, 58);
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-size: 4vmin;
  text-transform: uppercase;
}

.game-state {
  text-align: start;
}

.game-state.won {
  color: green;
  animation: blink 1s infinite;
}

.game-state.lost {
  color: red;
  animation: blink 1s infinite;
}

.fails {
  text-align: center;
}

.fails.fail {
  color: red;
  animation: blink 0.5s steps(3, end) 2;
}

.new-game {
  text-align: end;
  cursor: pointer;
}

.new-game:hover {
  text-decoration: underline;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 6vmin;
  margin-block: 6vmin;
  font-size: 4vmin;
}

.alphabet {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 1vmin;

  font-size: 4vmin;

  margin-block: 2rem;
}

.letter {
  display: block;
  border: 1px solid snow;

  cursor: pointer;
}

.letter:disabled {
  color: #8a8a8a;
  border: 1px solid grey;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
